body{
    margin: 0;
}

.head{
    height: 100px;
    width: auto;
    background: linear-gradient(to top right, #ff6666 0%, #3366ff 100%);    text-align: center;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 70px;
}

.remianingpage{
    height: 1400px;
    width: auto;
    background: linear-gradient(to top, #99ff33 0%, #ff0000 100%);
    padding-top:10px;
}
.maintranslator{    
    margin:100px ;
    min-height: 500px;
    background: linear-gradient(to bottom left, #99ff33 0%, #009999 100%);
}

.data1{
    float: left;
    display: flex;
    padding-top: 200px;
    padding-left: 150px;
    margin-bottom: 100px;
}
.data2{
    float: left;
    display: flex;
    padding-top: 200px;
    padding-left: 150px;
    margin-bottom: 100px;
}
#covrtlang{
    
    float: left;
    
    height: 100px;
    width: auto;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    margin-bottom: 0px;  
}
#mainlang{
    float: left;
    height: 100px;
    width: auto;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    
}
.totranslator{
    min-height: 500px;
    background: linear-gradient(to top right, #99ff33 0%, #009999 100%);
    margin:100px;
    display: flex;
}
.sourcecode{
    float: left;
    height: 400px;
    width: 1700px;
    background-color: #ff6666;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 150px;
    margin-top: -145px;
    border: #090909;
    border-width: 10px;
}
.sourcecode2{
    float: left;
    height: 400px;
    width: 1700px;
    background-color: #ff6666;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 150px;
    margin-top: 50px;
    border: #090909;
    border-width: 10px;
}
.title{
    background-color: #0b0b0b;
    color: #ffffff;
    height: 50px;
    font-size: 40px;
    align-items: center;
    display: flex;
}
.button:hover{
    background-color: #ff0000;
}
.btn{
    float: left;
}
